.grid-element {
    background-color: #8b8b8b;
    border-top: thick double #373737;
    border-left: thick double #373737;
    border-right: double #FFFFFF;
    border-bottom: double #FFFFFF;
    width: 36px;
    height: 36px;
    float: left;
  }